<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>EmChat</title>
  <style>
    #messages {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 300px;
    }

    body {
      background-color: LightGray;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        <div class="card text-white bg-dark mb-3">
          <div class="container text-right">
            <div id="status"></div>
          </div>
          <div class="card-body" id="chat">
            <div class="card-header text-center">
              <h1>Chat</h1>
            </div>
            <div class="form-group card mb-1">
              <div id="messages" class="card-block text-dark"></div>
            </div>
            <div id="chat" class="form-group mb-1">
              <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
            </div>
            <div class="form-group mb-4">
              <button id="send" type="button" class="btn btn-success btn-md btn-block">Send</button>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button id="clear" type="button" class="btn btn-danger btn-md btn-block">Clear Text</button>
              </div>
              <div class="col-md-6">
                <button id="disconnect" type="button" class="btn btn-info btn-md btn-block">disconnect</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

  <script>
    (async function () {
      var room = "<%= room %>";
      var username = "<%= username %>";
      var chatList = JSON.parse(await $.ajax({
        url: 'http://localhost:8091/api/socket/history/msg',
        complete: async function (data) {
          return await data
        }
      }))

      var element = function (id) {
        return document.getElementById(id);
      }

      // Get Elements
      var status = element('status');
      var messages = element('messages');
      var textarea = element('textarea');
      var livechat = room
      var clearBtn = element('clear');
      var send = element('send');

      // console.log(JSON.parse(chatList))
      // Set default status
      status.textContent = 'Online'


      function scrollToBottom() {
        messages.scrollTop = messages.scrollHeight;
      }

      // Connect to socket.io
      // var socket = io.connect('http://103.253.72.89:3101');
      var socket = io.connect('http://localhost:3101');


      if (socket !== undefined) {
        console.log('Connected to socket...');
        // Handle Output
        for (var i = 0; i < chatList.length; i++) {
          var message = document.createElement('div');
          message.setAttribute('class', 'chat-message');
          if (chatList[i].displayName && chatList[i].text) {
            message.append(chatList[i].displayName + ": " + chatList[i].text);
            messages.appendChild(message);
          }
        }
        socket.emit(livechat)
        socket.on(livechat, function (data, error) {
          status.textContent = 'Online'
          var message = document.createElement('div');
          message.setAttribute('class', 'chat-message');
          if (data.length > 0) {
            messages.textContent = '';
            for (var i = 0; i < data.length; i++) {
              var message = document.createElement('div');
              message.setAttribute('class', 'chat-message');
              if (data[i].displayName && data[i].text) {
                message.append(data[i].displayName + ": " + data[i].text);
                messages.appendChild(message);
                scrollToBottom();
              }
            }
          }
          else {
            if (data.displayName && data.text) {
              message.append(data.displayName + ": " + data.text);
              messages.appendChild(message);
              scrollToBottom();
            }
          }
        })
        clearBtn.addEventListener('click', function () {
          socket.emit('clear');
          messages.textContent = '';
        });
      }


      send.addEventListener('click', function (event) {
        socket.emit(livechat, {
          displayName: username,
          text: textarea.value
        });
        event.preventDefault();
        textarea.value = '';
      })

      textarea.addEventListener('keydown', function (event) {
        if (event.which === 13 && event.shiftKey == false) {
          // Emit to server input
          socket.emit(livechat, {
            displayName: username,
            image: "https://s3-ap-southeast-1.amazonaws.com/s3-culi.deknerd.com/asset/deknerd_profile.png?fbclid=IwAR2dvFJlFsDTJHZq4hQCXEIjF9TpX87jL9TsCXeHeq_LGTsy5VqpxTqM6pY",
            text: textarea.value
          });
          event.preventDefault();
          textarea.value = '';
        }
      })

      var disconnect = element('disconnect');
      disconnect.addEventListener('click', function () {
        socket.disconnect();
        messages.textContent = '';
      })
    })();


  </script>
</body>

</html>