<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat</title>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Kanit|Prompt");
    @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css");

    #messages {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      height: 300px;
    }

    body {
      background: url("https://mdbootstrap.com/img/Photos/Others/background.jpg");
      font-family: "Prompt", sans-serif;
    }

    .chat-flex {
      background-color: whitesmoke;
      padding: 10px;
    }

    .text-blod {
      font-weight: bold;
    }

    .border-orange {
      border: 2px solid orange;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3 col-sm-12">
        <div class="card shadow text-white mb-3">
          <div class="container text-right">
            <div id="status" class="text-success text-blod"></div>
          </div>
          <div class="card-body" id="chat">
            <div class="text-center">
              <h1 class="text-dark text-blod">Chat</h1>
            </div>
            <div class="form-group card chat-flex border-orange mb-1">
              <div id="messages" class="card-block text-dark"></div>
            </div>
            <div id="chat" class="form-group border-orange mb-1">
              <textarea id="textarea" class="form-control" placeholder="กรอกข้อความที่นี่..."></textarea>
            </div>
            <div class="form-group mb-2">
              <button id="send" type="button" class="btn btn-success btn-md btn-block">ส่ง</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

  <script>
    (async function () {
      var room = "<%= room %>";
      var username = "<%= username %>";
      var chatList = await $.ajax({
        url: 'http://localhost:8091/api/socket/history/' + room,
        complete: async function (data) {
          return await data
        }
      })

      var element = function (id) {
        return document.getElementById(id);
      }

      // Get Elements
      var status = element('status');
      var messages = element('messages');
      var textarea = element('textarea');
      var livechat = room
      var send = element('send');

      // console.log(JSON.parse(chatList))
      // Set default status
      status.textContent = 'Online'


      function scrollToBottom() {
        messages.scrollTop = messages.scrollHeight;
      }

      // Connect to socket.io
      // var socket = io.connect('http://103.253.72.89:3101');
      var socket = io.connect('http://localhost:3101');


      if (socket !== undefined) {

        console.log('Connected to socket success!');

        status.textContent = 'Online'

        for (var i = 0; i < chatList.length; i++) {
          var message = document.createElement('div');
          message.setAttribute('class', 'chat-message');
          if (chatList[i].send_by_name && chatList[i].message) {
            message.append(chatList[i].send_by_name + ": " + chatList[i].message);
            messages.appendChild(message);
          }

        }
        socket.emit(livechat)
        socket.on(livechat, function (data, error) {
          var message = document.createElement('div');
          message.setAttribute('class', 'chat-message');
          if (data.send_by_name && data.message) {
            message.append(data.send_by_name + ": " + data.message);
            messages.appendChild(message);
            scrollToBottom();
          }
        })
      }


      send.addEventListener('click', function (event) {
        socket.emit(livechat, {
          eventName: 'send_public',
          session_id: livechat,
          user_id: username,
          token: "1",
          message: textarea.value,
        });
        event.preventDefault();
        textarea.value = '';
      })

      textarea.addEventListener('keydown', function (event) {
        if (event.which === 13 && event.shiftKey == false) {
          socket.emit(livechat, {
            eventName: 'send_public',
            session_id: livechat,
            user_id: username,
            token: "1",
            message: textarea.value,
          });
          event.preventDefault();
          textarea.value = '';
        }
      })

    })();
  </script>
</body>

</html>